<div class="customers">
  <div class="container flex flex-col justify-center mx-auto mt-20">
    <h1 class="text-4xl text-emerald-500 font-bold mb-5 pb-5"><i class="bi bi-list-ul mr-2"></i> Customers List :</h1>
    <hr class="border-2 border-emerald-50 rounded-full mb-5">
    <table class="mt-5 mx-20 table-auto border-collapse border border-emerald-100" *ngIf="customers">
      <thead>
      <tr class="bg-emerald-800 text-white hover:bg-emerald-900">
        <th class="p-2 border border-emerald-100">ID</th>
        <th class="p-2 border border-emerald-100">Name</th>
        <th class="p-2 border border-emerald-100">Email</th>
        <th class="p-2 border border-emerald-100">Orders</th>
      </tr>
      </thead>
      <tbody>
      <tr class="hover:bg-emerald-50" *ngFor="let c of customers._embedded.customers">
        <td class="text-center font-medium p-2 border border-emerald-100">{{ c.id }}</td>
        <td class="p-2 border border-emerald-100">{{ c.name }}</td>
        <td class="p-2 border border-emerald-100">{{ c.email }}</td>
        <td class="text-center p-2 border border-emerald-100">
          <button class="btn rounded-full px-3 py-2 border-2" (click)="getOrders(c)">Orders</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
